---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card/Card.astro";
import { Image } from "astro:assets";
import map from "@images/map.png";
import { getHomePage } from "@data/page";
import { getAdventures } from "@data/adventures";
import { HTMLRender } from "@components/helpers/htmlRender";
import FlexibleContentPages from "@components/FlexibleContent/flexibleContentPages.astro";

// get homepage data
const page = await getHomePage();
const adventures = await getAdventures();
---

<Layout title="Welcome | 24 Hour RPG 2024" description="24 Hour RPG Challenge 2022, this year in of Zoe's Place.">
    <main>
        <FlexibleContentPages blockData={page.page.pageBuilder.blocks} />
        <div class="intro">
            <div class="container">
                <div class="text-area">
                    <h1 class="heading-2">The 24 Hour RPG Event is back!</h1>
                    <p>Welcome warriors, both keyboard and otherwise!</p>
                    <p>
                        This year, 24HR RPG is going for a hybrid event with both virtual and in person sessions. Get ready for a weekend of gruelling endurance and exciting adventures, all in aid of <a
                            href="https://www.zoes-place.org.uk/">Zoe's Place</a
                        >. We invite gamers of every flavour to join together and raise money to support of this years chosen charity.
                    </p>

                    <p>
                        We are welcoming individual streamers as well as traditional RPG groups. We encourage those not playing in person to stream their games on the day via Twitch, YouTube, UStream
                        or any other suitable service [1].
                    </p>

                    <p>
                        Every group should also set up a JustGiving page, by clicking the Join Team button at <a href="https://www.justgiving.com/team/24RPG24"
                            >https://www.justgiving.com/team/24RPG24</a
                        >, so all donations go to the same place. You will need to create your own JustGiving page first, let one of us know if you get stuck.
                    </p>

                    <p>
                        Any players at one of the RPG tables will need to bid real money to gain their seat, with the highest bids taking a place in the game. Those streaming videogames or other
                        activities are less restricted, but are still very much encouraged raise as much money as they can. GM's and individual streamers don't have to bid (unless they really want
                        to), but everyone is of course strongly encouraged to get as many sponsors as possible.
                    </p>

                    <p>
                        Some games may even allow their sponsor the opportunity to help or hinder their chosen beneficiary through their donations. For every £5 given, a sponsor can inflict a Friend
                        or a Foe token, to help or hinder their efforts. Maybe it will give them a reroll, or an extra chance. Maybe the monsters get another attack in, or they are forced to stand
                        still for a bit longer than they should.
                    </p>

                    <p>
                        <small>
                            [1]Individual players/groups don't have to participate in one of the public streams if they are uncomfortable doing so. Using character portraits, or muting from the public
                            stream is fine, as long as they are still part of the JustGiving team page.
                        </small>
                    </p>
                    <div class="image">
                        <Image src={map} alt="fantasy map" width={300} />
                    </div>
                    <h2 class="heading-3">Modes of Play</h2>
                    <ul>
                        <li>Pure Mode - 10am - 10am, full 24 hour endurance events for those up to the challenge.</li>
                        <li>Flexible Mode - 10am - 10am, A relaxed challenge for the players, with the option to drop in and out at certain campaign points.</li>
                        <li>Mellow Mode - A relaxed challenge consisting of 12 hours X2, 10am-10pm on both days</li>
                        <li>Mix Mode - Mainly for videogame streamers, as many hours as you can physically do from 1 to 48 hours depending on the amount of challenge you can manage.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="adventures">
            <div class="container">
                <h2 class="heading-3">This Years Adventures</h2>
                {
                    adventures.nodes.map((adventure) => (
                        <div class="adventure">
                            <Image
                                src={adventure.featuredImage.node.mediaItemUrl}
                                width={adventure.featuredImage.node.mediaDetails.width}
                                height={adventure.featuredImage.node.mediaDetails.height}
                                alt={adventure.featuredImage.node.altText}
                            />
                            {adventure.adventureFields.adventureTags ? (
                                <ul class="tags">
                                    {adventure.adventureFields.adventureTags.map((tag) => (
                                        <li>
                                            <span>{tag.title}:</span> {tag.value}
                                        </li>
                                    ))}
                                </ul>
                            ) : null}
                            <h3 class="heading-5">{adventure.title}</h3>
                            <div class="except">
                                <HTMLRender data={adventure.excerpt} />
                            </div>
                            <a href={`/adventures/${adventure.slug}`} class="button button--secondary">
                                Read More
                            </a>
                        </div>
                    ))
                }
            </div>
        </div>
        <!-- <div class="cards">
            <div class="container">
                <Card title="Game Masters" href="#" bgColour="var(--brand-1)" textColour="var(--white)">
                    <div slot="icon" class="icon">
                        <svg fill="#fff" height="512" viewBox="0 0 25 25" width="512" xmlns="http://www.w3.org/2000/svg"
                            ><g id="Layer_14" data-name="Layer 14"
                                ><circle cx="12.5" cy="7" r="5"></circle><path d="m13.56 13h-2.12a9.47 9.47 0 0 0 -9.44 9.5.5.5 0 0 0 .5.5h20a.55.55 0 0 0 .5-.56 9.46 9.46 0 0 0 -9.44-9.44z"
                                ></path></g
                            ></svg
                        >
                    </div>
                    <div slot="body">
                        <p>GM slots currently open. Got a group? Want to run something with them? Great! Let us know what you are playing and who you are bringing</p>
                        <p>
                            You can join as a GM by sending an email via <a href="mailto:contact@24hr-rpg.fyi">contact@24hr-rpg.fyi</a> with the details of your campaign and if you have any players to
                            bring along.
                        </p>
                    </div>
                </Card>
                <Card title="Players" href="#" bgColour="var(--brand-2)" textColour="var(--black)">
                    <div slot="icon" class="icon">
                        <svg
                            version="1.1"
                            id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            width="80.13px"
                            height="80.13px"
                            viewBox="0 0 80.13 80.13"
                            style="enable-background:new 0 0 80.13 80.13;"
                            xml:space="preserve"
                        >
                            <g>
                                <path
                                    d="M48.355,17.922c3.705,2.323,6.303,6.254,6.776,10.817c1.511,0.706,3.188,1.112,4.966,1.112
		c6.491,0,11.752-5.261,11.752-11.751c0-6.491-5.261-11.752-11.752-11.752C53.668,6.35,48.453,11.517,48.355,17.922z M40.656,41.984
		c6.491,0,11.752-5.262,11.752-11.752s-5.262-11.751-11.752-11.751c-6.49,0-11.754,5.262-11.754,11.752S34.166,41.984,40.656,41.984
		z M45.641,42.785h-9.972c-8.297,0-15.047,6.751-15.047,15.048v12.195l0.031,0.191l0.84,0.263
		c7.918,2.474,14.797,3.299,20.459,3.299c11.059,0,17.469-3.153,17.864-3.354l0.785-0.397h0.084V57.833
		C60.688,49.536,53.938,42.785,45.641,42.785z M65.084,30.653h-9.895c-0.107,3.959-1.797,7.524-4.47,10.088
		c7.375,2.193,12.771,9.032,12.771,17.11v3.758c9.77-0.358,15.4-3.127,15.771-3.313l0.785-0.398h0.084V45.699
		C80.13,37.403,73.38,30.653,65.084,30.653z M20.035,29.853c2.299,0,4.438-0.671,6.25-1.814c0.576-3.757,2.59-7.04,5.467-9.276
		c0.012-0.22,0.033-0.438,0.033-0.66c0-6.491-5.262-11.752-11.75-11.752c-6.492,0-11.752,5.261-11.752,11.752
		C8.283,24.591,13.543,29.853,20.035,29.853z M30.589,40.741c-2.66-2.551-4.344-6.097-4.467-10.032
		c-0.367-0.027-0.73-0.056-1.104-0.056h-9.971C6.75,30.653,0,37.403,0,45.699v12.197l0.031,0.188l0.84,0.265
		c6.352,1.983,12.021,2.897,16.945,3.185v-3.683C17.818,49.773,23.212,42.936,30.589,40.741z"
                                ></path>
                            </g>
                        </svg>
                    </div>
                    <div slot="body">
                        <p>Interested in being a player for this year's 24 hour challenge?</p>
                        <p>
                            We will be opening sign ups for the adventures from 1st Febuary 2024. When they are open you will be able to find descriptions of this year's adventures and be able to bid
                            for your place in the adeventure of your choice.
                        </p>
                    </div>
                </Card>
            </div>
        </div> -->
    </main>
</Layout>

<style lang="scss">
    @use "../styles/abstracts/breakpoint" as *;
    .charity {
        max-width: 300px;
        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.8));
    }
    .banner-logo {
        fill: var(--white);
        max-width: 400px;
        width: 100%;
        height: auto;
        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.8));
    }
    .hero-text {
        font-size: var(--font-size-wolf);
        font-weight: 700;
    }
    .icon svg {
        width: 100px;
        height: auto;
    }
    .cards .container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        @include breakpoint(lg) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
    .intro .container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        :global(.image) {
            display: flex;
            justify-content: center;
        }
    }
    .tags {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: var(--spacing-2);
        li {
            padding: 4px 12px;
            background-color: var(--lblue);
            color: var(--black);
            border-radius: 32px;
            font-size: var(--font-size-cat);
            span {
                font-weight: 700;
            }
        }
    }
    .adventures {
        background-color: var(--brand-1);
        .container {
            display: flex;
            flex-direction: column;
            gap: 32px;
            @include breakpoint(lg) {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            }
            :global(h2) {
                color: var(--white);
                grid-column: 1 / -1;
            }
        }
        .adventure {
            color: var(--white);
            :global(p) {
                font-size: var(--font-size-cat);
            }

            img {
                object-fit: cover;
                aspect-ratio: 16 / 9;
            }
        }
    }
</style>
